<header class="center">
  	<% if false %>
  	<div class="header-item">
  	<ul id="nav-menu">
  		<li id="nav-item-play" class="nav-item">
			<%= link_to "Play", root_path %>
		</li>
  		<li id="nav-item-levels" class="nav-item">
			<%= link_to "Levels", levels_path %>
		</li>
  	</ul>
  </div>
  <% end %>
  	<div class="header-item desktop-only">
  		<%= image_tag "logo.png"%>
  </div>
</header>